*{
    font-family: Arial, Helvetica, sans-serif;
}

 body{
 overflow-x: hidden;
 width: 100vw;
} 

.top-bar{
    /* display: none; */
    width:100vw ;
    height: auto;
    background-color:#316DC3 ;
    overflow: hidden;
    display: flex;
    width: 100%;
}


.icons-list{
    display: inline-block;
    list-style: none;
    margin-top: 5px;
    width: 25%;
}

.icons{
    color: white;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-right: 5px;
}

 .icons:hover{
     color: white;
    background-color:#316DD9 ;
    border-radius: 3px;
} 

.whatsapp{
  width: 18px;
  height: 19px;
  background-color:#65BC54;
  padding: 2px;
  border-radius: 3px;
}

.top-para{
    font-size:16px;
    margin-top: 10px;
    text-align: center;
    color: white;
    width: 51%;
}

.top-buttons{
    width:auto; 
    height: auto; 
    padding: 5px;
    font-size: small;
    color: #697982;
    background-color: white;
    border: 1px solid #697989;
}

@media screen and (max-width:720px){
    .top-bar{
        flex-direction: column;
        align-items: center;
    }

    .icons-list{
        width: 100%;
        margin-left: 30%;
    }

    .top-para{
        width: 100%;
    }
    .top-buttons{
        margin-bottom: 10px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .top-para{
        margin-top: 0;
    }
}

#navbar{
    width: 100vw;
    height:auto;
    background-color: #F7F8FA;
    position:sticky ;
    top: 0; 
    z-index: 99;  
}


.nav-list{
    list-style: none;
    font-size: smaller;
    margin-top: 20px; 
    margin-left:5%;
}

 .nav-list>li{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    border-radius: 20px;
} 

.nav-list>li:hover{
    background-color: #316DC3;
    cursor: pointer;
    color: white;
}

.home{
    background-color: #316DC3;
    color: white;
}

 .parent-li{
    position: relative;
}    

.parent-li ul{
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 36px;
    width:210px;
    background-color:#FFFFFF;
    display: none;
}

.parent-li ul li{
    color: #000;
    padding: 8px;
}

.parent-li li:hover{
     background-color:#316DC3 ;
     color: white;
     padding-left: 24px;
}

.parent-li:hover>ul{
    display:block;
}

.right{
    float: right;
}

.ul-right ul{
 top: 0;
 left: 100%;   
}

.ul-left ul{
    top: 10px;
    right: 100%;
}

.menu{
    transform: scale(1.4);
    padding-top: 20px;
    display: none;
    /* text-align:center; */
}

.menu:hover{
    cursor: pointer;
}
    

.nav{
    max-height:400px;
    overflow-y: scroll;
    position: sticky;
    z-index: 10000;
    top:60px;
}

.nav p{
    background-color: white;
    font-size: small;
    text-transform: capitalize;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border: 1px solid lightgrey;
}

.nav p:hover{
    background-color:#316DC3;
    color: white;
    cursor: pointer;
}

.flexbox{
    background-color: white;
    display: flex;
    width: 100%;
}

/* .nested>p{
    padding-left: 40px;
} */

.name{
    text-transform: capitalize;
    font-size: small;
    width:85%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border: 1px solid lightgrey;
}

.down{
    padding-top: 1%;
    padding-left: 6%;
    border: 1px solid lightgrey;
    width: 15%;
}

.flexbox:hover{
    background-color:#316DC3;
    color: white;
    cursor: pointer;
    border-color: white;
}

.nested{
    width: 100%;
}



.marquee1{
    background-color: #316DC3;
    padding-top: 3px;
    padding-bottom: 7px;
    font-size: small;
    margin-top: 15px;
}

.news-date{
    color:#00FD03;
}

.announcement{
    color: white;
}

.link-color{
    color: darkblue;
}

.link-color:hover{
    color: darkblue;
    text-decoration: none;
}

.introduction{
    text-align: center;
    padding-top: 50px;
    font-weight: bolder;
}

.intro-sec{
    width:  100vw;
    background-color:#F7F8FA;
    z-index: -1;
}

.line{
    color:#F7F8FA ;
    width:auto;
    height:auto;
    border-bottom:2px solid #427900 ;
    margin-right: 10px;
    margin-left: 10px;
}

.intro-sec p{
    width: 75%;
    margin-left: 12%;
    padding-bottom: 90px;
    margin-bottom: 0px;
}
 
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    padding: 0px;
    padding-top: -5px;
    background-color: lightgray; 
    opacity: 80%;
    color: white; 
    cursor: pointer;
   
    font-size:40px; 
    border: none;  
    width:50px;
    height:fit-content ;
}
  
  #myBtn:hover {
    background-color:darkgray; 
  }

.services-section1{
    width: 100vw;
    height: max-content;
    background-color:#2655E8;
    padding-top: 50px;
    padding-bottom: 70px;
}

.services-box{
    padding-top: 25px;
    padding-bottom: 25px;
}

.numbers{
    color: white;
    font-size:55px ;
    text-align: center;
    margin-top: -10px;
    font-family: 'Merriweather', serif;
}

.services{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: medium;
    font-weight: bolder;
}

.green-text{
    color:#00FF00;
    font-family: 'Merriweather', serif;
}

.services-section2{
    width: 100vw;
    background-color:#F7F8FA ;
}

.services-boxes{
    background-color: white;
    border: 1px solid white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 20px gray ;

}

.service-image{
    text-align: center;
}

.service-name{
    text-align: center;
    color: #2655E8;
    font-weight: bolder;
    font-family: 'Merriweather', serif;
}

.upcoming-head1{
    color:#2655E8;
    font-family: 'Merriweather', serif;
    font-weight: bolder; 
    margin-top: 60px;
}

.line1{
    color:white ;
    width:auto;
    height:auto;
    border-bottom:2px solid #427900 ;
    position: relative;
    top: -15px;
}

.line2{
    color:white;
    width:100%;
    height:auto;
    border-bottom:1px solid lightgray ;
    position: relative;
    top: -14px;
}

.project-box{
    background-color: #F7F8FA;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 17px;
}

.project-name{
    color:#2655E8;
    font-family: 'Merriweather', serif;
    padding-left: 25px;
    font-weight: bolder;
}

.marquee2{
    height: 250px;
    font-size: 15px;
}

@media (max-width:600px){
    body{
    position: relative;
    right: 0;
    }
    .marquee2{
        max-width: 60%;
    }
    #navbar{
        position: sticky;
        top: 0;
    }
}

@media (max-width:900px){
    .nav-list{
        display: none;
    }
    .menu{
    display: inline-block;
    }
}

.image-section{
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.images{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(185px,1fr)) ;
    grid-gap: 2px;
    grid-row-gap: 100px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 100px;
}

.image{
    overflow: hidden;
    box-sizing: border-box;
}

.image>img{
    width:99%;
    /* border: 2px solid white; */
}

.image>img:hover{
    opacity:30%;
    /* width: 110%; */
    border: 6px solid gray;
}

.contact-section{
    background-color: #25272E;
    color: #9C9D9E;
    font-size:15px;
    padding-bottom:70px;
}

#foot-left{
   padding-top:70px ;
}

.f-icon{
    color: #3E7004;
}

.contacts{
    line-height: 12px;
}

.use{
    color: white;
    font-weight: bolder;
    font-family: 'Merriweather', serif;
    padding-top: 40px;
}

.linei{
    width: 50px;
    border-bottom: 2px solid #427900;
    margin-top: -15px;
}

.linei2{
    width: 87%;
    border-bottom: 0.1px solid grey;
    margin-left: 50px;
    margin-top: -1.5px;
}

.bottom-icons{
    transform: scale(0.9);
    color: white;
    background-color:#316DD7 ;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

footer{
    background-color: #316DD9;
    color: white;
    font-size: small;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom:10px;
}
